body {
    background-image: url('sylv.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    background-color: rgba(65, 63, 63, 0.8);
    padding: 20px;
    border-radius: 10px;
}
h1.mb-4{
    background-color: #7c17e7;
}
label[for="post-limit"] {
    color: #00ff00;
}
